.feature__section{
    background-image: url(https://d25s2jqw4qdf1e.cloudfront.net/7e6a1771-77a4-4ca1-a729-8310da4a4031.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 3rem;
    background-position: 50%;
}
.feature__heading{
    margin-bottom: 2.5rem;
    padding-top: 4rem;
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
}
 .feature__icons img{
    width: 35px;
    height: 35px;
    margin-top: 22px;
} 

.Feature__row{
    display: flex;
    align-items: start;
    margin: 22px;
}
.Feature__Content {
    color: #fff;
    margin-left: 16px;
    cursor: pointer;
}
.Feature__Content:hover h2{
    color: rgb(0, 130, 213);
}
.Feature__Content h2 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
}
.Feature__Content p {
    font-size: 12px;
}