.appContainer h2{
    color: #fff;
}
.appContainer p {
    color: #fff;
}
.getApp__img{
    width: 100%;
}

.downloadAppSec {
    background: transparent linear-gradient(180deg,#0f0329,#0f0329) 0 0 no-repeat padding-box;
}