/* .liveStreamPageContainer{
    margin-top: 20px;
} */

.chat_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat_input{
    border: none;
    color: #fff;
    outline: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    width: 80%;
    height: 30px;
    
}