/* .liveStreamPageContainer{
    margin-top: 20px;
} */

.chat_container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.247);
    height: 73vh;
    position: relative;
}
.chat_input{
    border: none;
    color: #fff;
    outline: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    width: 85%;
    height: 30px;
    
}
.chat_input_box {
    background-color: #070223;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 5px 8px;
    display: flex;
    justify-content: center;
}
