.trenvid23 {
    width: 100%;
    height: 400px;
  }

  .slider-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider-left img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  
  
  .slider-right .slider-short {
    height: 246px;
    margin-bottom: 8px;
  }
  .carousel-inner .carousel-control-prev {
    left: -40px;
  }
  .trenvid23 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .carousel-control-prev-icon {
    background-image: none !important;
    display: flex;
  }
  .carousel-control-prev-icon::before {
    content: "\f053";
    font: normal normal normal 11px/1 FontAwesome;
    background: white;
    padding: 8px 10px;
    border-radius: 50%;
    color: #353535;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    height: initial !important;
  }
  .carousel-control-next-icon {
    background-image: none !important;
    display: flex;
  }
  .carousel-control-next-icon::before {
    content: "\f054";
    font: normal normal normal 11px/1 FontAwesome;
    background: white;
    padding: 8px 10px;
    border-radius: 50%;
    color: #353535;
  }
  
  .carousel-control-next,
  .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px !important;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
    height: 30px !important;
    margin: auto;
    background: white;
    border-radius: 50%;
  }
  .gh78 {
    margin-bottom: 10px;
    width: 100%;
    float: left;
  }
  .LiveStats46 {
    width: 100%;
    float: left;
    position: relative;
    padding: 0px 6px 0px 6px;
    margin-top: -27px;
    display: flex;
    justify-content: space-between;
    font-size: 9px;
    letter-spacing: 1px;
    top: 35px;
    z-index: 1;
  }
  .Live24 {
    background: #e02020;
    padding: 7px 4px;
    border-radius: 3px;
    color: white;
    line-height: 0;
    height: 14px;
  }
  .Live24 samp {
    width: 4px;
    height: 4px;
    background: #e2e2e2;
    margin-right: 2px;
    --tw-bg-opacity: 1;
    border-radius: 9999px;
    float: left;
    position: relative;
    top: -2px;
    right: 0px;
    margin-right: 4px;
    margin-left: 1px;
    animation: blink 1s linear infinite;
  }
  .gameName{
    background-color: #000000;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 4px;
  }
  .videoTitle{
    color: #fff;
    font-weight:900; 
    text-align: left;
    line-height: 1.3;
    margin-right: 5px;
  }
  .viewsIcon{
    margin-right: 3px;
  }
  .viewsCount{
    color: #fff;
  }
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }