.logout {
    cursor: pointer;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none !important;
}

.navbar-toggler {
    border: none !important;
}

.avatar-dropdown {
    background-color: #202225;
    width: 220px;
    right: 10px;
    padding: 20px;
    color: #fff;
    position: fixed;
    top: 50px;
    border-radius: 4px;
    z-index: 9999;
}

.avatar-dropdown h4 {
    font-size: 1rem;
    text-align: left;
}

.avatar-dropdown :hover {
    cursor: pointer;
}

.offcanvas-start {
    background-color: #202225 !important;
    width: 260px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

/* .btn-close {
    background-image: url("../../../Assets/Images/close.svg") !important;
    background-size: 25px 50px !important;
    opacity: 0.9 !important;
} */

.modal-logo {
    width: 65%;
}

.sidebarItems {
    text-decoration: none;
    color: white;
}

.sidebarItems:hover {
    color: white;
}

.dropdownList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.dropdownList-items {
    text-decoration: none;
    color: white;
    margin-left: 22px;
}
.navbar__link--active{
    color: #ff2120;
}
.dropdownList-items:hover {
    color: white;
}

.user-btn {
    background-color: #ff2120 !important;
    border: none !important;
    height: 40px !important;
    /* width: 60px; */
    font-size: 18px !important;
    font-weight: 500 !important;
}