.heading{
    color: #fff;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.topPlayersCard {
    position: relative;
  }
.topPlayerImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 76%;
  transition: 1s ease;
}
.topPlayerOne {
  transition: 1s ease;
}
.topPlayerOne:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
}
.topPlayerImg h6 {
    color: #fff;
    margin: 10px 0px 0px;
}
.redCircle img{
  width: 34px;
  height: 34px;
}

.countriesMain {
  padding: 5vw;
  background-color: #7a7c8e17;
  border: 1px solid #ffffff40;
  border-radius: 10px;
}

.getTheApp{
  padding: 2vw;
  background-color: #7a7c8e17;
  border: 1px solid #ffffff40;
  border-radius: 10px;
}
.getTheAppBtn {
  background: transparent linear-gradient(180deg, #451144 0%, #2E0B37 76%, #0F0326 100%) 0% 0% no-repeat padding-box;
  
}
.getTheAppBtn:hover {
  color: #fff;
}